* {
  margin: 0px;
  padding: 0px;
}
/* Header container */
.header-container {
  width: 100%;
  height: 100px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}
/* position of logo div in container header  */
.header-logo-div {
  /* background-color: green; */
  /* width: 12rem;
  margin-left: 6rem; */
  height: 6rem;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 4.3rem;
  /* margin-right: 5.5rem; */
}
.header-logo-div img {
  width: 2.2rem;
}
.logo-text a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 25px;
}
/* header a element div  */
.header-elements-a {
  /* background-color: green; */
  width: 46rem;
  height: 6rem;

  /* margin-left: 20rem;
  margin-top: -95px;
} */
}
/* a element of header */
.header-elements-a a {
  /* background-color: blue; */
  color: white;
  padding: 12px;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}
/* flex of a elements */
.header-elements-a {
  /* background-color: black; */
  display: flex;
  align-items: center;
  margin-left: 9rem;
}
/* login header div  */
.header-login {
  /* background-color: black; */
  width: 12rem;
  height: 6rem;
  margin-left: 2.6rem;
  /* float: right;
  /* margin-top: -95px;
  margin-right: 30px; */
}
.header-login a {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  margin: 65px;
  margin-top: 25px;
  border-radius: 40px;
}
/* a elements hover */
.header-elements-a a:hover {
  text-decoration: underline;
}
.header-login a:hover {
  color: blue;
}
/* h1 with 2 button div after header div  */
.h1-2button-main {
  width: 82.4rem;
  height: 32.7rem;
  /* background-color: darkgray; */
}
.h1-with2button {
  width: 53rem;
  height: 18rem;
  /* background-color: brown; */
  margin-left: 15rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.h1-2button-main,
.h1,
.p {
  text-align: center;
  padding: 1rem;
  color: white;
  line-height: 32px;
  letter-spacing: 1px;
  font-size: 20px;
  font-stretch: 30px;
}

/* size for h1 div h1andd2button  */
.h1-2button-main .h1 {
  font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 66px;
  line-height: 53px;
  color: #ffffff;
  margin-top: 20px;
}
.text-size1160 {
  /* background-color: red; */
}
/* ajust button div  */
.download-button {
  background-color: white;
  width: 19rem;
  height: 3.5rem;
  margin-left: 21rem;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 7rem;
  cursor: pointer;
}
.openDiscor-button {
  background-color: #313338;
  width: 20rem;
  height: 3.5rem;
  margin-top: -55px;
  margin-left: 41rem;
  border-radius: 7rem;
}
.download-button img {
  margin-top: 2px;
  width: 2.2rem;
  height: 2.2rem;
}
.download-button .down-text {
  margin-top: 10px;
  margin-left: 5px;
  color: black;
}
.openDiscor-button a {
  color: white;
  text-decoration: none;
  /* background-color: red; */
  display: grid;
  padding: 12px;
}
.download-button .down-text:hover {
  color: #5865f4;
}
.openDiscor-button:hover {
  box-shadow: 0px 8px 8px 8px hsla(0, 88%, 14%, 0.1);
}
.header-body-section {
  background-image: url(images/backgrnd.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* overflow: auto; */
}
.h1-sizeresponsive1100 {
  display: none;
}
.text-responsive {
  display: none;
}
.menu {
  display: none;
}
.text-size1121 {
  display: none;
}
.h1-sizeresponsive1121 {
  display: none;
}
.text-leftresponsive711px {
  display: none;
}
.text-responsivesize711 {
  display: none;
}
.h1-sizeresponsive711 {
  display: none;
}

/* responsive header and backgound image */
@media (max-width: 1168px) {
  .h1-with2button {
    margin-left: 7rem;
  }
  .download-button {
    margin-left: 14rem;
  }
  .openDiscor-button {
    margin-left: 35rem;
  }
  .header-elements-a {
    margin-left: 1.5rem;
  }
}
@media (max-width: 1100px) {
  .h1-with2button .h1 {
    display: none;
  }
  .h1-sizeresponsive1100 {
    display: grid;
    font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica,
      Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 66px;
    line-height: 65px;
    color: #ffffff;
    margin-top: 20px;
  }
  .download-button {
    margin-top: 2rem;
  }
  .openDiscor-button {
    margin-left: 35rem;
  }

  .header-body-section {
    overflow: hidden;
  }
  .header-container {
    /* background-color: red; */
    display: flex;
    justify-content: center;
  }
  .header-login {
    margin-left: 0px;
  }
  .header-elements-a {
    margin-left: 1.5rem;
  }
}
@media (max-width: 1051px) {
  .text-size1160 {
    /* background-color: red; */
    display: none;
  }

  .text-responsive {
    /* background-color: red; */
    display: block;
    margin-top: -7rem;
  }

  .h1-2button-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .h1-2button-main .two-button-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .download-button {
    margin-right: 29rem;
  }
  .openDiscor-button {
    margin-top: 1rem;
    margin-right: 50rem;
    white-space: nowrap;
    align-items: center;
  }

  /* responsive for section */
}
@media (max-width: 1021px) {
  .header-elements-a {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .two-button-main {
    /* background-color: rgb(240, 17, 17); */
    width: 40rem;

    margin-top: 3px;
  }
  .download-button {
    white-space: nowrap;
    padding: 1px 18px;
    /* background-color: green; */
    margin-left: 9rem;
  }
  .openDiscor-button {
    /* background-color: blue; */
    margin-left: 30.2rem;
  }

  .menu {
    display: block;
    margin-right: 2.8rem;
    margin-top: 1rem;
  }
  .menu img {
    width: 2.6rem;
  }

  .header-login a {
    /* background-color: green; */
    margin-right: 10px;
    margin-left: 7rem;
    margin-top: 1.2rem;
  }
  .menu-login {
    display: flex;
    justify-content: center;
  }
  .header-logo-div {
    /* background-color: red; */
    margin-left: 2.4rem;
  }
  .logo-text {
    margin-bottom: 2rem;
  }
  .header-logo-div,
  .logo {
    margin-bottom: 2rem;
  }

  .h1-sizeresponsive1121 {
    text-align: justify;
    text-justify: inter-word;
    font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica,
      Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 66px;
    line-height: 53px;
    color: #ffffff;
    margin-top: 20px;
  }

  .h1-with2button {
    /* background-color: green; */
    text-align: justify;
    text-justify: inter-word;
    margin-top: -6rem;
    margin-left: 1rem;
  }
}
@media (max-width: 711px) {
  .text-responsive {
    display: none;
  }
  .text-responsivesize711 {
    /* background-color: red; */
    display: block;
    margin-top: -7rem;
    font-size: 15px;
    line-height: 25px;
    margin-right: 5px;
    float: left;
    text-align: justify;
  }
  .h1-sizeresponsive711 {
    /* background-color: red; */
    text-align: justify;
    text-justify: inter-word;
    font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica,
      Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 60px;
    color: #ffffff;
    margin-top: 20px;
    display: block;
  }
  .menu-login {
    display: flex;
    justify-content: right;
    /* background-color: red; */
    overflow: hidden;
  }
  .h1-sizeresponsive1100 {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
  }
}

/* section parts */
.section {
  height: auto;
  width: auto;
  /* background-color: green;
  border: 2px solid red; */
}

.section-1,
.section-2,
.section-3 {
  /* height: fit-content;
  width: fit-content; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: #ffffff;
  margin-top: 4rem;
  margin-bottom: 6.5rem;
}

.sec1-text,
.sec2-text,
.sec3-text,
.sec4-text {
  /* background-color: gray; */
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}
.h1-sec1,
.h1-sec2,
.h1-sec3,
.h1-sec4 {
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 58px;
  color: #23272a;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-align: justify;
  text-justify: inter-word;
}
.text-sec1,
.text-sec2,
.text-sec3,
.text-sec4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  color: #23272a;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 1.5rem;
}
.section-2 {
  background-color: #f6f6f6;
}
.section-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f6f6f6;
  margin-top: 4rem;
  margin-bottom: 6.5rem;

  align-items: center;
  text-align: justify;
  text-align-last: center;
}
.img-sec4 img {
  /* background-color: white; */
  width: 76rem;
  height: 49rem;
}
.section-5 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.6rem;
  background-color: #f6f6f6;
}
.section-5 {
  background-image: url(images/backgr-sec5.svg);

  background-repeat: no-repeat;
  background-position: top;
}

.icon-button-sec5 {
  background-color: #7983f5;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 1.4rem;
  border-radius: 3rem;
  padding: 13px 35px;
  margin-bottom: 4rem;
}

.h1-sec5 {
  /* background-color: gray; */
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  color: #000000;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-align: justify;
  margin-top: 2rem;
}

.icon-sec5 img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 3px;
  margin-right: 5px;
}
.button-sec5 {
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  font-weight: 500;
}
.icon-button-sec5:hover {
  box-shadow: 0px 3px 3px 3px hsla(194, 86%, 23%, 0.2);
}

/* responsive of sections */

@media (max-width: 1168px) {
  .h1-sec1,
  .h1-sec2,
  .h1-sec3 {
    /* background-color: red; */
    /* max-width: 26rem; */
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
    color: #23272a;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    text-align: justify;
    text-justify: inter-word;
  }
  .h1-sec4 {
    font-size: 37px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
    color: #23272a;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    text-align: justify;
    text-justify: inter-word;
  }
  .img-sec1 img,
  .img-sec2 img,
  .img-sec3 img {
    max-width: 27rem;
    height: auto;
  }
  .img-sec4 img {
    max-width: 41rem;
    height: auto;
  }
  .text-sec1,
  .text-sec2,
  .text-sec3 {
    margin-right: 1rem;
    max-width: 22rem;
    /* background-color: blue; */
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .text-sec4 {
    margin-right: 1rem;
    /* max-width: 22rem; */
    /* background-color: blue; */
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .section-1,
  .section-2,
  .section-3,
  .section-4 {
    /* background-color: red; */
  }
}

@media (max-width: 833px) {
  .sec1-text,
  .sec2-text,
  .sec3-text {
    /* background-color: blue; */

    margin-top: 1rem;
  }
  .h1-sec1,
  .h1-sec2,
  .h1-sec3 {
    /* background-color: red; */
    /* max-width: 23rem; */

    font-size: 37px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    color: #23272a;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  }
  .h1-sec4 {
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    color: #23272a;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  }
  .img-sec1 img,
  .img-sec2 img,
  .img-sec3 img {
    max-width: 23rem;
    height: auto;
    margin-top: 3rem;
  }
  .img-sec4 img {
    max-width: 39rem;
    height: auto;
  }

  .text-sec1,
  .text-sec2 {
    max-width: 22rem;
    /* background-color: red; */
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .text-sec4 {
    margin-right: 1rem;
    /* max-width: 22rem; */
    /* background-color: blue; */
    font-size: 14px;
    line-height: 1.3rem;
  }
}
@media (max-width: 741px) {
  .section-1,
  .section-3,
  .section-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: yellow; */
  }
  .section-2 {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    /* background-color: yellow; */
  }
  .sec1-text,
  .sec2-text,
  .sec3-text,
  .sec4-text {
    /* background-color: red; */
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
  .text-sec4 {
    margin-right: 1rem;
    /* max-width: 22rem; */
    /* background-color: blue; */
    font-size: 12px;
    line-height: 1.3rem;
  }
  .h1-sec1 br,
  .h1-sec2 br,
  .h1-sec3 br {
    display: none;
  }
  .h1-sec1,
  .h1-sec2,
  .h1-sec3 {
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: 33px;
    color: #23272a;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  }
  .h1-sec4 {
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    color: #23272a;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  }

  .img-sec1 img,
  .img-sec2 img,
  .img-sec3 img {
    max-width: 37rem;
    height: auto;
  }
  .img-sec4 img {
    max-width: 36rem;
    height: auto;
  }
}
@media (max-width: 610px) {
  .sec1-text,
  .sec2-text,
  .sec3-text {
    /* background-color: blue; */
    margin-left: 1rem;
    margin-bottom: 2rem;
  }
  .section-1,
  .section-3,
  .section-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: green; */
  }
  .section-2 {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    /* background-color: green; */
  }
  .img-sec1 img,
  .img-sec2 img,
  .img-sec3 img {
    max-width: 28rem;
    height: auto;
  }
  .img-sec4 img {
    max-width: 31rem;
    height: auto;
  }
  .h1-sec1,
  .h1-sec2,
  .h1-sec3,
  .h1-sec4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 33px;
    color: #23272a;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    text-justify: auto;
  }
  .section-5 {
    /* background-color: red; */
  }
  .icon-button-sec5 {
    /* background-color: black; */
    padding: 10px 6rem;
  }
}
/* footer */
.footer {
  background-color: gray;
  max-width: 100rem;
  max-height: fit-content;
  border: 3px solid green;
  display: grid;
}
.select-language-flag {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: rgb(113, 168, 24);
  width: 10rem;
  margin-bottom: 2rem;
  align-items: center;
}
.flag img {
  width: 2rem;
  height: 2rem;
}

.footer-icons {
  background-color: green;
  max-width: 15rem;
  margin-bottom: 1rem;
}
.language a {
  background-color: red;
  color: white;
  margin: 5px;
}
.footer-left-icon-lang {
  background-color: red;
  max-width: 20rem;
  margin-top: 3rem;
}
.footer-icons img {
  width: 2rem;
  height: 2rem;
  padding: 4px;
}
.product,
.company,
.resource,
.policies {
  background-color: lightpink;
  max-width: fit-content;
  max-height: fit-content;
  padding: 6px;

  margin: 1.5rem;
}
.product {
  margin-left: 2rem;
}
.product a,
.company a,
.resource a,
.policies a,
.footer-p {
  align-items: center;
  padding: 10px;
  display: grid;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 7px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: white;
}

.product p,
.company p,
.resource p,
.policies p {
  margin-bottom: 1rem;
}
.product p,
.company p,
.resource p,
.policies p {
  color: #5865f2;
}
/* .footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */
.footer-section1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgb(52, 48, 104);
  margin-top: 4rem;
}
.product-company {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.resource-policies {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.footer-line {
  border: 1rem solid#5865f2;
  width: 74rem;
  height: 3px;
  margin-left: 3rem;
  margin-top: 5px;
  align-items: center;
}

/* footer logo 
 */
.footer-logo-div {
  background-color: green;
  /* width: 12rem;
  margin-left: 6rem; */
  height: 6rem;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 3rem;

  /* margin-right: 5.5rem; */
}
.footer-logo-div img {
  width: 2.2rem;
}
.footer-logo-text a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 25px;
}
.footer-sing-up {
  background-color: red;
  margin-right: 5rem;
}
.footer-sing-up a {
  background-color: blue;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  color: #7983f5;
}
.footer-icon-sign-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.product a:hover,
.company a:hover,
.resource a:hover,
.policies a:hover {
  text-decoration: underline;
}
.footer-sing-up a:hover {
  background-color: #2d3688;
  transition: 0.6s;
}
.footer-a-column {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
@media (max-width: 1300px) {
  .footer {
    background-color: darkkhaki;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .footer-line {
    width: 68rem;
  }
}
@media (max-width: 1200px) {
  .footer-line {
    width: 65rem;
    background-color: red;
  }
}
@media (max-width: 1150px) {
  .footer-line {
    width: 60rem;
    background-color: green;
  }
}
@media (max-width: 1080px) {
  .footer-line {
    width: 55rem;
    background-color: black;
  }
  .footer-a-column {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1040px) {
  .footer-line {
    width: 55rem;
    background-color: red;
  }
}
@media (max-width: 1000px) {
  .footer-line {
    width: 50rem;
    background-color: white;
  }
}
@media (max-width: 940px) {
  .footer-line {
    width: 45rem;
    background-color: green;
  }
}
@media (max-width: 850px) {
  .footer-line {
    width: 40rem;
    background-color: red;
  }
}
@media (max-width: 750px) {
  .footer-line {
    width: 35rem;
    background-color: white;
  }
}
@media (max-width: 740px) {
  .footer-section1 {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-left-icon-lang {
    margin-left: 2rem;
  }
  .footer-line {
    width: 37rem;
    background-color: white;
    margin-left: 5px;
  }
}
@media (max-width: 720px) {
  .footer-line {
    width: 37rem;
    background-color: white;
    margin-left: 5px;
  }
}
@media (max-width: 700px) {
  .footer-line {
    width: 34rem;
    background-color: white;
    margin-left: 5px;
  }
  .footer-icon-sign-up {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (max-width: 650px) {
  .footer-line {
    width: 30rem;
    background-color: red;
    margin-left: 5px;
  }
}
@media (max-width: 600px) {
  .footer-line {
    width: 25rem;
    background-color: white'
    margin-left: 5px;
  }
  
}
